<h1>{{(currentProject | async)?.title}}</h1>
<h1>{{(currentProject | async)?.description}}</h1>
<h3>{{(currentProject | async)?.pledges}}</h3>

<h2>Down here</h2>
  <div *ngFor="let pledge of (pledges | async)">
    <!-- <div *ngIf="pledge.$key === '0'"> -->
      <h1>{{pledge.$key}}</h1>
      <h2>{{pledge.description}}</h2>
      <h2>{{pledge.amount}}</h2>
    <!-- </div> -->
  </div>


<!-- <div class="projectPledges" *ngFor="let pledge of (currentProject.pledges | async)?.pledges">
  <h1>worked</h1>
  <h1>Pledge Description -> {{pledge.pledgeDescription}}</h1>
  <h1>Pledge Amount -> {{pledge.pledgeAmount}}</h1>
</div> -->
