<h1>Create Project</h1>
  <md-input-container>
      <input mdInput placeholder="Project Title" #newTitle>
  </md-input-container>
  <br>
  <md-input-container>
      <input mdInput placeholder="Project Description" #newDescription>
  </md-input-container>
  <br>
  <md-input-container>
      <input mdInput placeholder="Why Fund You" #newWhyFundUs>
  </md-input-container>
  <br>
  <md-input-container>
      <input type="number" mdInput placeholder="Funding Goal" #newFundingGoal> $
  </md-input-container>
  <br>
  <md-input-container>
      <input mdInput placeholder="Category" #newCategory>
  </md-input-container>
  <br>

<button md-fab (click)="createProject(newTitle.value, newDescription.value, newWhyFundUs.value, newFundingGoal.value, newCategory.value)"><md-icon>check</md-icon></button>
