<h1>Create Project</h1>
<form >
  <md-input-container>
      <input mdInput placeholder="Project Title" #newTitle>
  </md-input-container>
  <br>
  <md-input-container>
      <input mdInput placeholder="Project Description" #newDescription>
  </md-input-container>
  <br>
  <md-input-container>
      <input mdInput placeholder="Why Fund You" #newWhyFundUs>
  </md-input-container>
  <br>
  <md-input-container>
      <input mdInput placeholder="About Us" #newAboutUs>
  </md-input-container>
  <br>
  <md-input-container>
      <input mdInput placeholder="Funding Goal" #newFundingGoal> $
  </md-input-container>
  <br>
  <md-input-container>
      <input mdInput placeholder="Category" #newCategory>
  </md-input-container>
  <br>
  <md-input-container>
      <input mdInput placeholder="Profile Pic" #newProfilePicture>
  </md-input-container>
</form>

<button md-fab (click)="createProject(newTitle.value, newDescription.value, newWhyFundUs.value, newAboutUs.value, newFundingGoal.value, newCategory.value, newProfilePicture.value)"><md-icon>check</md-icon></button>
