
<md-grid-list cols="4" rowHeight="300px">
  <md-grid-tile [colspan]="1" [rowspan]="2" color="md-light-blue">
    <md-select (change)="onChange($event.value)" placeholder="Filter">
      <md-option value="all">All</md-option>
      <md-option value="Art">Art</md-option>
      <md-option value="Technology">Technology</md-option>
      <md-option value="FilmVideo">Film & Video</md-option>
    </md-select>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <h1 class="displayHeader">{{display}}</h1>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <div *ngFor="let project of displayProjects | categoryPipe: filterCriteria | async">
      <md-card >
        <h3 (click)="projectDetail(project.$key)">{{project.title}}</h3>
      </md-card>
    </div>
  </md-grid-tile>
</md-grid-list>
